@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

nav {
    position: sticky;
    top: 0;
    border: 3px solid #f8f8f8;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.nav-toggle{
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
} 

.nav-toggle:hover {
    transform: rotate(90deg);
    transition: 1s;
}

.nav-toggle i {
    font-size: 1.5rem;
    height: auto;
}

ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 0.8rem;
}

ul a {
    text-decoration: none;
    text-transform: capitalize;
}

.links a {
    color: black;
    font-size: 1.5rem;
}

.show-links {
    display: block;
}

.links li {
    border-radius: 1rem;
}

@media screen and (min-width: 964px) {

    .nav-toggle {
        display: block;
    }
    
    nav ul {
        display: none;
    }


    .nav-center {
        display: block;
    }

    .social-icons {
        display: none;
    }

    .links li {
        padding: 0.5rem;
    }

    .links li:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }
}