body {
    background-color: blanchedalmond;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 13rem;
}

p {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

div {
    text-align: center;
}

button {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 4px solid;
    border-radius: 4px;
}

button:hover {
    background-color: rgba(226, 50, 15, 0.753);
}