* {
    margin: 0;
    padding: 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.nav-toggle{
    background: transparent;
    border: none;
    cursor: pointer;
} 

.nav-toggle:hover {
    transform: rotate(90deg);
    transition: 1s;
}

.nav-toggle i {
    font-size: 1.5rem;
    height: auto;
}

aside {
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    background-color: white;
    transform: translate(-100%);
    border-right: 4px solid #f8f8f8;
}

.show-sidebar {
    transform: translate(0);
  }

.sidebar-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1rem;
    margin: auto;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.close-btn i {
    color: #e22a2a;
    font-size: 2rem;
}

.links a {
    text-decoration: none;
    padding: 2rem;
    color: black;
    text-transform: capitalize;
}

.links {
    list-style: none;
    width: 80%;
    margin: auto
}

.links li {
    padding: 2rem;
    font-size: 1.5rem;
}

.links li:hover {
    background-color: #f8f8f8;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    position: fixed;
    top: 90%;
    left: 30%;
    font-size: 2rem;
}